.vscode/**
.vscode-test/**
src/**
test/**
out/**
node_modules/**
.gitignore
.yarnrc
esbuild.mjs
tsconfig.json
vitest.config.ts
**/*.map
**/*.ts
.superpowers/**
docs/**
.claude/**
**/*.pdf
.vscode-test.mjs
package-lock.json
